@model BrandVM
@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-5">

    <div style="width:250px; height:250px;" class="image">
        <img src="~/img/client/@Model.Image" style="width:100%" />
    </div>
    <div class="back mt-2">
        <a class="btn btn-info text-white" asp-action="Index">Back</a>
    </div>
</div>


